html{
	height: 100vh;
	color: #fff;
	scroll-behavior: smooth;
	background-color: rgb(255, 255, 255);
	transition: .5s;
}
p{
	margin: 0px;
}
pre{
	margin: 0px;
}
.wrapper{
	overflow: hidden;
	background-color: #000;
	border-radius: 70px;
	display: flex;
	position: relative;
	flex-direction: column;
	margin: 0 auto;
	max-width: 1440px;
	width: 100%;
}
.wrapper > main{
	flex-grow: 1;
}
._container{
	margin: 0 auto;
	width: 100%;
	max-width: 1230px;
	padding-right: 30px;
	padding-left: 30px;
	
}
.header{

}
.nav {
	padding-top: 30px;
	position: relative;
	z-index: 3;
	padding-right: 30px;
	transition: .6s;
}
.menu__item {
	display: flex;
	padding-inline-start: 0px;
	justify-content: space-between;
	flex-wrap: wrap;
	
}
.item {
	transition: .5s;
	list-style: none;
}
.item-link {
	text-decoration: none;
	color: inherit;
	font-family:lexend;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 30px;
	color: #F25959;
	transition: .5s;
	margin-right: 25px;
}

@media(max-width:1202px){
	.nav{
		position: absolute;
		top: 0px;
		left: -100%;
		background-color: #000;
		z-index: 20;
		width: 0%;
		height: 100%;
		overflow-y: auto;
		padding-left: 40px;
	}
	.menu__item{
	flex-direction: column;
	gap: 50px;
	padding-top: 100px;
	}
	.item-link {
		font-weight: 600;
		font-size: 48px;
		color: #F25959;
		transition: .5s;
		margin-right: 25px;
	}
	._container{
		padding: 20px;
	}
}
.header__info{
	display: flex;
	height: 737px;	
}
.header__ingo_image{
	position: relative;
overflow: hidden;
border-radius: 70px;
}
.image{
	border-radius: 70px;
	overflow: hidden;
	position: absolute;
	top: -150px;
	right: -20px;
	transition: .5s;
}
.header__info_title{
	font-family:lexend;
	font-size: 28px;
	position: relative;
	z-index: 5;
	top: 220px;
	transition: .5s;
}
.subtitle{
	color: #F25959;
}
.title{
	color: #ffffff;
}

@media(max-width:1000px){
	.image{
		width: 650px;
		height: 650px;
		top: -50px;
		right: 0px;
	}
	.header__info_title{
		top: 450px;
		font-size: 18px;
	}
}
.section{
	position: relative;
	top: -50px;
	padding-right: 20px;

}
.section__title{
	margin-bottom: 10px;
}
.title_title{
	font-family:lexend;
	font-size: 32px;
	color: #F25959;
	margin-bottom: 0px;
	margin-top: 0px;
}
.text{
	font-family:lexend;
	font-size: 36px;
	line-height: 45px;
	font-weight: 200;
	margin-bottom: 75px;
	padding-right: 20px;
}
.list{
	display: flex;
	justify-content: space-around;
}
.code_sample{
	font-family:lexend;
	font-weight: 200;
	font-size: 36px;
	line-height: 45px;
	color: #ffffff;
	transition: .5s;
}
@media(max-width:1120px){
	.nav{
		display: none;
	}
	.code_sample{
		font-size: 26px;
		line-height: 38px;
		width: 600px;
		white-space: pre-wrap;
	}
}
.projects{
	display: flex;
	justify-content: space-between;
	margin-bottom: 75px;
	transition: .5s;
}


.project__wrapper{
	width: 50%;
}
.projects__image img{
	object-fit: contain;
	width: 80%;
	height: 100%;
	transition: .4s;
}
.projects__image img:hover{
	transform: scale(1.15);
}

@media(max-width:1000px){
	.projects{
		display: contents;
		flex-wrap: wrap;
	}
	.project__wrapper{
		width: 100%;
	}
	.text{
		padding-top: 30px;
		margin-bottom: 30px;
	}
}
#skills__list{
	margin-bottom: -30px;
}
.contacts_languages{
	position: relative;
	top: 0px;
	display: flex;
	justify-content: space-between;
	transition: .4s;
}
#Contacts{
top: 0px;
width: 50%;
}
#Languages{
top: 0px;
width: 50%;
}
.contacts_list{
	display: flex;
	flex-direction: column;
}
.contacts_item, .lang_item{
	margin-bottom: 40px;
}
.footer{
	background: linear-gradient(180deg, rgb(0, 0, 0), rgb(255, 255, 255) 17%);
}
.footer__wrapper{
	padding-top: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer_item img{
	margin: 50px 0px 50px 0px;
	width: 200px;
	height: 200px;
	object-fit: contain;
	transition: .4s;
}
.by{
	color: #000;
	font-family:lexend;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 30px;
}
.footer_item img:hover{
	transform: scale(1.15);
}
.item:hover{
	transform: scale(1.15);
}
.item-link:hover{
	color: #fff;
}
.rss{
padding-left: 80px;
}
@media(max-width:1000px){
	.contacts_languages{
		display: contents;
		flex-wrap: wrap;
	}
	.contacts_item{
		margin-bottom: 0px;
		width: 500px;
	}
	#Сontacts{
		width: 100%;
	}
	.footer__wrapper{
		flex-direction: column;
	}
	.rss{
		padding-left: 0px;
		padding-bottom: 70px;
		}
}

.burger__btn{
	display: none;
}

@media(max-width:1202px){
	.burger__btn{
		display: block;
		background-color: #000000;
		border-radius: 100px;
		width: 84px;
		height: 84px;
		position: absolute;
		top: 0.8%;
		left: 5.1%;
		z-index: 30;
	}
	.nav{
		display: block;
	}
}

.burger__line:before{
	content: '';
    background-color: #ffffff;
    position: absolute;
    height: 4px;
    width: 45px;
    top: 38%;
    left: calc(50% - 22px);
	transition: .6s;
}

.burger__line:after{
	content: '';
    background-color: #ffffff;
    position: absolute;
    height: 4px;
    width: 45px;
    top: 59%;
    left: calc(50% - 22px);
	transition: .6s;
}
.burger__line{
	height: 10px;
    width: 4px;
	background-color: #000000;
	transition: .6s;
}

.burger__close:before{
	transform: rotate(-45deg);
	top: 47%;
	background-color: #F25959;
	transition: .6s;
}
.burger__close:after{
	transform: rotate(45deg);
	top: 47%;
	background-color: #F25959;
	transition: .6s;
}

.active__nav{
	width: 100%;
	height: 100%;
	left: 0px;
	transition: .9s;
	position: fixed;
}

.stop__scroll{
	overflow: hidden;
}
.header__burger{
	background-color: aquamarine;
	position: absolute;
	width: 100%;
	z-index: 50;
}
